# -*- coding: utf-8 -*-
# 
# Configuration file for traces.
# You can define alias names, the color and the label of the plotted data.
# 
# Set alias names for traces. A definition of psdXY = psdX, psdY will allow you
# to use "psdXY" as a replacement for "['psdX', 'psdY'].
[aliases]
XY = X, Y
YZ = Y, Z
XZ = X, Z
XYZ = X, Y, Z
psdXY  = psdX, psdY
psdYX = psdY, psdX
psdYZ = psdY, psdZ
psdZY = psdZ, psdY
psdXZ = psdX, psdZ
psdZX = psdZ, psdX
psdXYZ = psdX, psdY, psdZ
psdXZY = psdX, psdZ, psdY
psdYXZ = psdY, psdX, psdZ
psdYZX = psdY, psdZ, psdX
psdZXY = psdZ, psdX, psdY
psdZYX = psdZ, psdY, psdX
psdrXY = psdrX, psdrY
psdrYZ = psdrY, psdrZ
psdrXZ = psdrX, psdrZ
psdrXYZ = psdrX, psdrY, psdrZ
positionXY = positionX, positionY
positionYZ = positionY, positionZ
positionXZ = positionX, positionZ
positionXYZ = positionX, positionY, positionZ
mirrorXY = mirrorX, mirrorY

# Select the color the corresponding trace should be plotted with. The color
# is interpreted by the matplotlib library
[color]
X = blue
Y = green
Z = orange
psdX = blue
psdY = green
psdZ = orange
psdrX = blue
psdrY = green
psdrZ = orange
positionX = DarkTurquoise
positionY = MediumOrchid
positionZ = LimeGreen
mirrorX = DeepSkyBlue
mirrorY = DarkSeaGreen
laser = Teal

# Choose a factor for plotting the data should be multiplied with
[factor]
DEFAULT = 1
positionX = 1e6
positionY = 1e6
positionZ = 1e6
mirrorX = 1e6
mirrorY = 1e6

# Choose a text the corresponding plotted trace should be labeled with.
[label]
X = X
Y = Y
Z = Z
psdX = psdX (V)
psdY = psdY (V)
psdZ = psdZ (V)
psdrX = psdrX (V)
psdrY = psdrY (V)
psdrZ = psdrZ (V)
positionX = positionX (µm)
positionY = positionY (µm)
positionZ = positionZ (µm)
mirrorX = mirror (µm)
mirrorY = mirror (µm)
laser = laser int (V)
trap_height = trap_height (µm)
