#kt_header {
    display: none !important;
}

#kt_header_mobile {
    display: none !important;
}

#kt_subheader {
    display: none !important;
}

#object-tools {
    display: none !important;
}

#actions-container {
    display: none !important;
}