.iconifiedDocumentActions {
    float: right;
    margin: 0em 0 0 0.5em;
    padding: 0;
    text-align: right;
}
.iconifiedDocumentActions ul {
    margin: 1px 0 2px 0;
    padding: 0;
    display: block;
}
.iconifiedDocumentActions li {
    display: inline !important;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
.iconifiedDocumentActions a {
    border: none !important;
    text-decoration: none;
}
