/*
 *  This is the file where you put your CSS changes.
 *  You should preferrably use this and override the
 *  relevant properties you want to change here instead
 *  of customizing plone.css to survive upgrades. Writing
 *  your own plone.css only makes sense for very heavy
 *  customizations. Useful variables from Plone are
 *  documented at the bottom of this file.
 */

/* <dtml-with imioapps_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

/* ADD YOUR CUSTOMIZATIONS HERE, IT USE imioapps_properties */

/*
 *  This is the file where you put your CSS changes.
 *  You should preferrably use this and override the
 *  relevant properties you want to change here instead
 *  of customizing plone.css to survive upgrades. Writing
 *  your own plone.css only makes sense for very heavy
 *  customizations. Useful variables from Plone are
 *  documented at the bottom of this file.
 */

/* <dtml-with imioapps_properties> (do not remove this :) */
/* <dtml-call "REQUEST.set('portal_url', portal_url())"> (not this either :) */

/* ADD YOUR CUSTOMIZATIONS HERE, IT USE imioapps_properties */


#portal-globalnav li a {
    color:black;
}

#portal-header #portal-globalnav .selected a:hover {
    color: #1DBADF;
}

#portal-globalnav a:hover, #portal-header #portal-globalnav .selected a {
    color: #1DBADF;
}

/* </dtml-with> */

/* </dtml-with> */