[buildout]
extensions = mr.developer
show-picked-versions = true
extends = versions.cfg
          sources.cfg
sources-dir = devel

index = http://devpi.imio.be/root/imio/+simple/

parts =
  imio-dataexchange-core
  pytest
  pytest-cov
  omelette

auto-checkout =
always-checkout = true

eggs = imio.dataexchange.core

develop=
    .

versions = versions

[imio-dataexchange-core]
recipe = zc.recipe.egg
dependent-scripts = true
eggs =
    imio.dataexchange.core [script]
interpreter = py

[pytest]
recipe = zc.recipe.egg:scripts
scripts = py.test
eggs =
    imio.dataexchange.core [script]
    pytest
arguments = ['--capture=no', 'src/imio'] + sys.argv[1:]

[pytest-cov]
recipe = zc.recipe.egg:scripts
scripts = py.test=test-coverage
eggs =
    imio.dataexchange.core [script]
    pytest
    pytest-cov
arguments = ['--capture=no', '--cov', 'src/imio', '--cov-report', 'term', '--cov-report', 'html', 'src/imio'] + sys.argv[1:]

[omelette]
recipe = collective.recipe.omelette
eggs = ${pytest:eggs}
