[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.githubusercontent.com/IMIO/cpskin.policy/master/versions.cfg

extensions = mr.developer

auto-checkout = *

package-name = cpskin.diazotheme.dream

develop = .

parts +=
    omelette
    instance

index = http://devpi.imio.be/root/imio/+simple/
allow-hosts +=
    devpi.imio.be

[instance]

eggs +=
    cpskin.policy
    plone.app.multilingual
zcml +=
    cpskin.policy

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[remotes]
imio = git://github.com/IMIO
imio_push = git@github.com:IMIO

[sources]
cpskin.theme = git ${remotes:imio}/cpskin.theme.git pushurl=${remotes:imio_push}/cpskin.theme.git
cpskin.core = git ${remotes:imio}/cpskin.core.git pushurl=${remotes:imio_push}/cpskin.core.git

[versions]
cpskin.diazotheme.dream =
