# -*- coding: utf-8 -*-
# 
# This configuration file is used to set the parameters of the setup the data
# was recorded with.
# 
# The data
# You have to define Configuration file to set standard initialisation values for a setup, i.e.
# an object of (super)class Record.
# It defines the traces, a record consists of, and the datasource the data is
# retrieved from.
# The standard offset, conversion and inversion values of the traces can be
# defined.
#
[record]
# Parameters
# ----------
# module : module, optional
#   module to load the class from (defaults to .region.record). The module can
#   either be given relative to this package (investigator), like
#   .region.record or absolute.
# class : class, optional
#   class to use for creation of a record (Record, default)
# traces : names of traces
#   comma separated list of names of traces the data consists of
# parameters : names of parameters, optional
#   comma separated list of names of paramaters the class needs to init
module = .region
class = Record
traces = X, Y, Z

[datasource]
module = .plugins.datasources.generic
class = GenericDataFile

[offset]
# Offset in the original value of the data traces (V)
# trace = (median, mean, or a float value)
XYZ = median

[conversion]
# m/V -> positionXYZ in m
# trace = value
XYZ = 1.0
      
[inversion]
# trace = boolean value
# psdXY should be proportional to positionXY and bead is attached to surface
# -> invert psdXY on ASWAD
XYZ = False
