.merge-modal-content {
    text-align: left;
}

.merge-modal-sheet-and-key {

    /* make the row wrap if its not large enough to contain the entire sheet modal */ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    margin-bottom: 10px;
    color: #929292;
}

.merge-modal-sheet-label {
    margin-bottom: 2px;
}

.merge-modal-sheet-dropdown {
    border: 1px solid #DDDDDD;
    border-radius: 5px;

    height: 25px;
    width: 150px;

    color: #343434;
    font-size: 14px;

    padding-left: 5px;
}

.merge-modal-key-label {
    margin-left: 10px;
    margin-bottom: 2px;
}

.merge-modal-key-dropdown {
    height: 25px;
    width: 100px;

    border: 1px solid #DDDDDD;
    border-radius: 5px;
    
    margin-left: 10px;
    padding-left: 5px;

    color: #343434;
    font-size: 14px;
}