/*
 * Styles fuer WitraBau: Anpassungen fuer Bootstrap-Framework
 * 07.01.2016 TH, visaplan GmbH
 *
 * Bisher nur verwendet fuer Templates der Verwertungsphase (Stufe II)
 */

/* ----------------------------------- [ Navigation ... [ */
/* Neue Klasse nav-pills-block:
 * unterdrückt clear-Eigenschaft für enthaltene .nav-pills
 * und regelt diese selbst
 */
.nav-pills-block ul.nav.nav-pills {
    clear: none;
}
.nav-pills-block ul.nav.nav-pills:first-child {
    float: left;
    clear: left;
}
.nav-pills-block ul.nav.nav-pills + ul.nav.nav-pills {
    float: right;
}
.nav-pills-block + * {
    clear: both;
}
/* ----------------------------------- ] ... Navigation ] */

/* ------------------------------------ [ Formulare ... [ */
.control-group label,
.control-group .control-label {
    text-align: left;
    font-weight: bold;
}
/* ------------------------------------ ] ... Formulare ] */
