# -*- coding: utf-8 -*-
#
# Configuration file for group creation.
#
# Here you can define different types of groups, by giving them a name and
# defining the parameters traces. description, module and modclass.
#
# If you only set the parameters description and traces, the group that is
# created will not contain a Modification and is only used for the selection
# of data.
# If you define a module and the name of a class that is defined in the module
# (modclass), a group is created, which will not only give the user the option
# to select data, but also add a modification to that group type.
#
# description : str
#   A description, giving the user the information for what the data is used,
#   he is selecting
# traces : (list of) str
#   The traces the user is shown to select data from
# module : python module
#   Name tof he module, a modification class (modclass) is defined in
# modclass : class
#  Name of the Modification class that should be used for the group

[selection]
description = data of relevance to be used
# traces defaults to all available traces of the parent view
#traces = X, Y, Z

[modification]
description = generic modification
# traces defaults to all available traces of the parent view
#traces = X, Y, Z
module = .plugins.modifications.generic
modclass = GenericMod

[offset]
description = offset determination
traces = psdX, psdY, psdZ, positionX, positionY, positionZ
module = .plugins.modifications.offset
modclass = Offset

[touchdown]
description = touchdown determination
traces = psdZ, positionZ
module = .plugins.modifications.touchdown
modclass = Touchdown

[beadscan]
description = crosstalk correction
traces = psdZ, positionZ, psdX, psdY
module = .plugins.modifications.beadscan
modclass = Beadscan

[attachment]
description = attachment correction
traces = positionX, positionY, psdX, psdY
module = .plugins.modifications.attachment
modclass = Attachment

[baseline]
description = rotation correction
traces =  positionX, positionY, positionZ, psdX, psdY, psdZ
module = .plugins.modifications.baseline
modclass = Baseline

[rotation]
description = rotation correction
traces =  positionX, positionY, positionZ, psdX, psdY, psdZ
module = .plugins.modifications.rotation
modclass = Rotation
