@media all and (min-width: 600px), all and (-ms-high-contrast: active), all and (-ms-high-contrast: none){
    .nav-is-Substuck .container-minisite-globalnav-logo{
        position: fixed;
        top:0;
        width: 100%;
        margin-top:0 !important;
        z-index: 1;
        max-height:8em;
    }
    .nav-is-Substuck .in-minisite-in-portal .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-social-cohesion-sociale .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-territoire-mobilite .container-minisite-globalnav-logo,  
    .nav-is-Substuck .subsection-education-enseignement-artistique-academie-des-beaux-arts .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-tourisme-centres-dinformation-touristique-centre-information-touristique .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-territoire-environnement .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-plein-air-parc-attractif-reine-fabiola .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-administration-services-communaux-sports .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-education-enseignement-artistique-conservatoire-balthasar-florence .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-tourisme-citadelle-de-namur .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-culture-lectures-bibliotheques .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-territoire-pavillon-de-lamenagement-urbain .container-minisite-globalnav-logo,
    .nav-is-Substuck .subsection-territoire-energie .container-minisite-globalnav-logo     {
        top:86px;
    }
}



